{% extends 'base.html' %}
{% block title %} Home - College Portal {% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 200px;">
    <h1>Welcome to College Portal</h1>
    <span class="badge bg-info ms-3">Manage Student Information
        {{students|length}} students
    </span>
</div>
<div class="row">
   {%for student in students %}
    <div class="col-md-4 mb-3">
        <div class ="card">
            <div class="card-body">
                <h5 class="card-title">{{student.name}}</h5>
                <p class = "card-text">Roll Number: {{student.roll}}</p>
                <p class = "card-text">Marks: {{student.marks}}</p>
                {% if student.marks >= 90 %}
                    <span class="badge bg-success">Excellent</span>
                {% elif student.marks >= 75 %}
                    <span class="badge bg-primary">Good</span>
                {% elif student.marks >= 60 %}
                    <span class="badge bg-warning text-dark">Average</span>
                {% else %}
                    <span class="badge bg-danger">Needs Improvement</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
