<!DOCTYPE html>
<html>
    <head>
        <title> Live Search </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="bg-light">
        <div class="container mt-4"></div>
            <h2 class ="fw-bold mb-4">Student Live Search Demo </h2>

            <!-- Search input -->
            <input type="text"
            id ="searchInput"
            class="form-control mb-3"
            placeholder = "Type to search...">

            <!-- Table -->
            <table class ="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Roll No</th>
                        <th>Marks</th>
                        <th>Subject</th>
                    </tr>
                </thead>

                <tbody id="tableBody">
                    {% for student in students %}
                    <tr data-name ="{{ student['name']|lower }}">
                        <!-- data-name - JS information  -->
                        <td>{{ student['name'] }}</td>
                        <td>{{ student['roll'] }}</td>
                        <td>{{ student['marks'] }}</td>
                        <td>{{ student['subject'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            const searchInput = document.getElementById('searchInput');
            const allRows = document.querySelectorAll('#tableBody tr');
            
            
        </script>
    </body>
</html>